@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
} 
.triangle-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.triangle-button:hover .triangle-svg {
  fill: #ccc;
  /* Replace with your desired hover color */
}

.triangle-svg {
  transition: fill 0.3s;
}

.triangle-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.icon {
  color: white; 
}

.label {
  font-size: 14px;
  font-weight: bold;
}